@use '../../styles//mixins.scss';
@use '../../styles/constants.scss';


body:has(.burger-menu) {
	overflow: hidden;
}

.burger-menu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	overflow-x: hidden;
}

.burger-menu__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: var(--page-bc-2);
	opacity: 0.6;
}

.burger-menu__container {
	position: relative;
	z-index: 110;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 375px;
	height: 100%;
	padding: 30px;
	padding-top: 70px;
	margin-left: auto;
	margin-right: 0;
	background-color: var(--page-bc-2);
}

.burger-menu__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;

	overflow-y: auto;
	width: 100%;
	height: 100%;
}

.burger-menu__close {
	position: absolute;
	top: 30px;
	right: 40px;
	width: 35px;
	height: 35px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.burger-menu__block {
	width: 100%;
	border-bottom: 2px solid #2B2D3A;
	padding-bottom: 40px;
}

.burger-menu__subtitle {
	--font-family: var(--font-family-1);
	--text-size: 18px;
	--text-weight: 400;
	--text-line-height: 24.51px;
	@include mixins.text;
	color: var(--color-text-3);
}

.burger-menu .contacts {
	color: var(--color-text-3);
}