@use '../../styles//mixins.scss';
@use '../../styles/constants.scss';

.footer {
	--font-family: var(--font-family-3);
	--text-size: 18px;
	--text-weight: 400;
	--text-line-height: 21.6px;
	@include mixins.text;
	background-color: var(--page-bc-gray);
	padding-top: 132px;
	padding-bottom: 124px;

	@include mixins.maxBp(constants.$bp-768) {
		--font-family: var(--font-family-1);
		--text-size: 13px;
		--text-line-height: 17.7px;
		padding-top: 30px;
		padding-bottom: 44px;
	}
}

.footer__wrap {
	display: grid;
	grid-template-columns: 200px 450px;
	gap: 153px;

	@include mixins.maxBp(constants.$bp-768) {
		grid-template-columns: 1fr;
		gap: 53px;
	}
}

.footer__logo img {
	width: 196px;

	@include mixins.maxBp(constants.$bp-768) {
		width: 100px;
	}
}

.footer__logo {
	transition: opacity var(--transition);

	@include mixins.maxBp(constants.$bp-768) {
		margin-bottom: 13px;
	}
}

.footer__logo:hover,
.footer__logo:focus {
	opacity: 0.8;
}

.footer__column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include mixins.maxBp(constants.$bp-768) {
		justify-content: center;
		align-items: center;
	}
}

.footer__about {
	margin: 0;
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	@include mixins.maxBp(constants.$bp-768) {
		grid-template-columns: 138px 1fr;
		gap: 10px;
	}
}