@use '../../styles//mixins.scss';
@use '../../styles/constants.scss';

.case-list {
	@include mixins.reset-list;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 33px;
	flex-wrap: wrap;
	align-items: flex-start;

	@include mixins.maxBp(constants.$bp-1024) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mixins.maxBp(constants.$bp-768) {
		grid-template-columns: 1fr;
	}

}