@use '../../styles//mixins.scss';
@use '../../styles/constants.scss';


.contacts {
	display: flex;
	flex-direction: column;
	gap: 25px;

}

.contacts__link {
	cursor: pointer;
	transition: opacity var(--transition);


	&:hover,
	&:focus {
		opacity: 0.8;
	}
}